=em  ,       xl , vl      , l   , n      , h   , vh      , xh
rely ,          , 0.75    , 0.88, 1.00   , 1.15, 1.40     , 
data ,          ,         , 0.94, 1.00   , 1.08, 1.16     , 
cplx ,          , 0.70    , 0.85, 1.00   , 1.15, 1.30     , 1.65
time ,          ,         ,     , 1.00   , 1.11, 1.30     , 1.66
stor ,          ,         ,     , 1.00   , 1.06, 1.21     , 1.56
virt ,          ,         , 0.87, 1.00   , 1.15, 1.30     , 
turn ,          ,         , 0.87, 1.00   , 1.07, 1.15     , 
acap ,          , 1.46    , 1.19, 1.00   , 0.86, 0.71     , 
aexp ,          , 1.29    , 1.13, 1.00   , 0.91, 0.82     , 
pcap ,          , 1.42    , 1.17, 1.00   , 0.86, 0.70     , 
vexp ,          , 1.21    , 1.10, 1.00   , 0.90,          , 
lexp ,          , 1.14    , 1.07, 1.00   , 0.95,          , 
modp ,          , 1.24    , 1.10, 1.00   , 0.91, 0.82     , 
tool ,          , 1.24    , 1.10, 1.00   , 0.91, 0.83     , 
sced ,          , 1.23    , 1.08, 1.00   , 1.04, 1.10     , 
