=em  ,       xl , vl      , l   , n      , h   , vh      , xh
rely ,          , 0.8    , 0.9  , 1.00   , 1.1, 1.2     , 
data ,          ,        , 0.9  , 1.00   , 1.1, 1.2     , 
cplx ,          , 0.8    , 0.9  , 1.00   , 1.1, 1.2     , 1.3
time ,          ,         ,     , 1.00   , 1.1, 1.2     , 1.3
stor ,          ,         ,     , 1.00   , 1.1, 1.2     , 1.3
virt ,          ,         , 0.9 , 1.00   , 1.1, 1.2    , 
turn ,          ,         , 0.9 , 1.00   , 1.1, 1.2     , 
acap ,          , 1.2    , 1.1, 1.00   , 0.9, 0.8     , 
aexp ,          , 1.2    , 1.1, 1.00   , 0.9, 0.8     , 
pcap ,          , 1.2    , 1.1, 1.00   , 0.9, 0.8     , 
vexp ,          , 1.2    , 1.1, 1.00   , 0.9,          , 
lexp ,          , 1.2    , 1.1, 1.00   , 0.9,          , 
modp ,          , 1.2    , 1.10, 1.00   , 0.9, 0.8     , 
tool ,          , 1.2    , 1.10, 1.00   , 0.9, 0.8     , 
sced ,          , 1.2    , 1.1, 1.00   , 1.1, 1.2     , 
